.removebtn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 390px;
    position: relative;
    top: -35px;
    left: -6px;
  }

  .addBtn {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .terms input[type="checkbox"] {
    accent-color: #D3D3D3; 
    position: relative;
    margin-left: 5px;
    top: 20px;
    width: 20px; 
    height: 20px;
    cursor: pointer;
}

.gender-select select {
  position: relative;
  left: 47px;
  width: 104%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
