.terms {
    display: block;
    align-items: center;
    padding-left: 30px;
    font-size: 14px;
    color: #333;
}

.terms input[type="checkbox"] {
    accent-color: #D3D3D3; 
    position: relative;
    left: -175px;
    top: 22px;
    margin-right: 10px;
    width: 20px; 
    height: 20px;
    cursor: pointer;
}

.terms a {
    color: #D3D3D3;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}