.personalized-advice-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 100px auto;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .preferences-form {
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
  }
  
  .personalized-advice-page h1 {
    margin-bottom: 10px;
    color: #513125;
    font-weight: 900;
    text-align: center;
  }
  
  .personalized-advice-page p {
    margin-bottom: 10px;
    color: #513125;
    text-align: center;
  }
  
  .preferences-form h2 {
    margin-bottom: 10px;
    color: #513125;
    font-weight: 600;
  }
  
  .preferences-form label {
    display: block;
    margin-bottom: 10px;
    color: #513125;
  }
  
  .preferences-form input[type="text"],
  .preferences-form select {
    padding: 10px;
    background-color: #F4EDE5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .preferences-form button {
    padding: 10px 20px;
    background-color: #c4715e;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .preferences-form button:hover {
    background-color: #513125;
  }
  
  .advice-section {
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
  }
  
  .advice-section h2 {
    margin-bottom: 10px;
    color: #513125;
    font-weight: 600;
  }
  
  .advice-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .advice-section li {
    background-color: #F4EDE5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  
  .progress-tracker {
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
  }
  
  .progress-tracker h2 {
    margin-bottom: 10px;
    color: #513125;
    font-weight: 900;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .personalized-advice-page {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .personalized-advice-page {
      margin-top: 50px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .personalized-advice-page {
        margin-top: 100px;
        position: relative;
        left: -30px;
      }
    .preferences-form input[type="text"],
    .preferences-form select {
      font-size: 14px;
    }
  
    .preferences-form button {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .advice-section ul {
      padding: 0 10px;
    }
  }
  