.user-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
    padding: 20px;
    background-color: #f0f0f0;
  }

  .user-profile h1 {
    position: relative;
    top: -60px;
    left: 450px;
    text-decoration: underline;
    font-weight: 550;
  }
  
  .profile-card, .info-card{
    background-color: white;
    border-radius: 8px;
    padding: 60px;
    position: relative;
    left: -150px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-right: 20px;
  }
  .progress-status {
    background-color: white;
    border-radius: 8px;
    padding: 100px;
    position: relative;
    left: -150px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .profile-card {
    text-align: center;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .follow-btn, .message-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }
  
  .follow-btn {
    background-color: black;
    color: white;
  }
  
  .message-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  .info-card h3 {
    color: #888;
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .info-card p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .progress-status h3 {
    color: #888;
    font-size: 1em;
    margin-bottom: 5px;
  }
  .progress-status h2 {
    font-size: 20px;
    text-decoration: underline;
  }

  .progress-status p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1rem;
  }

  .project-status .status-item {
    margin-bottom: 15px;
  }
  
  .progress-bar {
    background-color: #e0e0e0;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    background-color: red;
    height: 100%;
  }