.wellness-page {
    padding: 20px;
    position: relative;
    top: 100px;
  }
  
  .search-bar {
    margin-left: 52px;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 94%;
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
  }
  
  .resource-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 50px;
    margin-bottom: 80px;
  }
  
  .resource-item {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 20px;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .resource-item h3 {
    margin: 0;
    font-size: 18px;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: underline;
  }
  .resource-item .category{
    color: black;
    font-weight: 600;
  }
  .resource-item p {
    margin: 5px 0 0;
    color: black;
    word-spacing: 2px;
    font-size: 15px;
  }
  